@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove browser default focus rings on all inputs */
input:focus,
textarea:focus,
input,
textarea {
  outline: none !important;
  box-shadow: none !important;
}
